name: CI (dev)
on:
  push:
    branches:
      - dev

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Set up Go 1.23
        uses: actions/setup-go@v2
        with:
          go-version: 1.23

      - name: Install dependencies
        run: go mod tidy

      - name: Run linters
        uses: golangci/golangci-lint-action@v4

      - name: Run Tests
        run: go test ./... -v --race